@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap');


a{
    text-decoration: none;
}


/*Sección de la lista de selección*/
.segundo {
    width:100%;
    max-width:1000px;
    margin:auto;
    overflow:hidden;
    /* llerilin--------------- */
    font-size: 20px;
    height: 80px;
    padding-left: 20px;
    text-align: left;
    /* llerilin--------------- */
}

.segundo h3 {
    display:block;
    padding:20px;
    color:#fff;
    background:#F56F3A;
    margin-bottom:1em;
}

/*Lista de selección*/
#seleccionar{
    padding-right: 12px;
}

#opcioon{
    margin: auto;
}
ul, ol {
        list-style:none;
        margin:-13px;
        margin-top: 10px; 
      }
    .ip{
        padding: 12px;
        background-color:white;
        color:black;
        border: 1px solid grey;
        text-decoration:none;
        padding:10px 12px;
        display:block;
        font-size: 18px;
        float: right; 
        margin: 19px;
        font-family: 'Comfortaa';
}
    .ipp{
        width: 43%;
        background-color:white;
        color:black;
        border: 1px solid grey;
        text-decoration:none;
        padding:10px 12px;
        display:block;
        font-size: 18px; 
        margin: 15px;
        font-family: 'Comfortaa';
}

      .op{
        width: 100%
      }
      .op a{
        background-color:white;
        color:black;
        text-decoration:none;
        padding:10px 10px;
        display:none;

      }
      
      .op li a{
        color: black;

      }
      .op li a:hover {
        background-color:#F3f3F3;
        color: black;
        width: 100%;
      }
      
      .op li ul {
        background-color: white;
        color: black;
       display:none; 
        position:absolute;
        min-width:200px;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        border-left: 1px solid black;
      }
      
      .op li:hover > ul {
        display:block;
      }
      
      .op li ul li {
        position:relative;
        width: 100%
      }
      




/*Formulario registro ver más*/
.contenido p {
    margin-bottom:1em;
}

.contenido h3 {
    display:block;
    padding:20px;
    color:#fff;
    text-align:center;
    background:#F56F3A;
    margin-bottom:1em;
}

* {
    box-sizing: border-box;
}
.contenedoorr{
    width: 100%;
    padding: 15px;
}
.formulario{
    background: #fff;
    margin-top: 150px;
    padding: 3px;
}
h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}
input[type="text"],input[type="email"],
input[type="password"], select#Cargo{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}
select#Cargo {
    width: 82%;
    height: 41px;
}
.input-contenedoorr{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #1a2537;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
    background: #fff010;
}

.button1{
    border: none;
    width: 40%;
    color: white;
    font-size: 18px;
    background:  #1a2537;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.button1:hover{
    background: #fff010;
}

p{
    text-align: center;
}
.link{
    text-decoration: none;
      color: #1a2537;
    font-weight: 600;
}
.link:hover{
     color: cadetblue;
}
@media(min-width:768px)
{
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 50px;
        border-radius: 2%;
    }
}